<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="img/favicon.ico">
	<title>Welcome to Chirper | Log-In</title>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/login.css" />
	<link rel="stylesheet" media="screen and (max-width: 320px)" href="css/small-login.css" />
</head>
<body>

	<div class="central-float">
		<h1>chirper.</h1>
		<h2>we're not <em>that</em> original.</h2>

		<form method="POST" action="/login">
			<input type="text" name="username" maxlength="20" placeholder="Username"></input><br />
			<input type="password" autocomplete="off" name="password" placeholder="Password"></input><br />

<!-- 			{% if loginfailed %}
			<span class="loginstatus">Login failed</span><br />
			{% endif %}
			{% if deletedaccount %}
			<span class="loginstatus">Account Successfully Deleted</span><br />
			{% endif %} -->

   			<input type="submit" value="Log In"></input>
		</form>

		<a href="/register">Create Account</a>

	</div>

</body>
</html>
