html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	background: linear-gradient(rgba(32, 32, 32, 0.6), rgba(32, 32, 32, 0.6)), url('yosemitebg.jpg') no-repeat center center fixed;

	/*For full-window background*/
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #ff9966;
}

a:hover {
	text-decoration: underline;
}

.header {
	width: 100%;
	background-color: #ffcc99;
	font-family: "Open Sans", sans-serif;
}

.head-wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.head-wrap .title {
	color: #111; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 45px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
}

.header .username {
	float: left;
	width: 740px;
}

.header .logout {
	float: left;
	width: 100px;
	text-align: right;
}

.logout a {
	color: black;
}

.header .delete-user {
	float: left;
	width: 100px;
	text-align: right;
}

.clear {
	clear: both;
}

.delete-user a {
	color: red;
	cursor: pointer;
}

h1 {
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Open Sans", sans-serif;
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
}

.chirper {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
	background-color: #fff;
	-moz-border-radius: 5px;
	     border-radius: 5px;
}

.chirper .chirp-center {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.chirper .chirp-error {
	float: left;
}

.chirper .chirp-field {
	width: 600px;
}

.chirper .chirp-stats {
	float: right;
}

.friends-list {
	float: right;
	width: 218px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-right: 20px;
	padding: 10px;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	background-color: #fff;
}

.friends-list h1 {
	border-bottom: 1px dotted black;
}

.friends-list .add-friend {
	padding: 10px;
	text-align: center;
	border-bottom: 1px dotted black;
}

.friends-list .friends {
	padding-top: 10px;
}

.chirp-content {
	float: right;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.chirp-user {
	border: 1px solid #cccccc;
	margin-top: 10px;
	background-color: #fff;
	-moz-border-radius: 5px;
	     border-radius: 5px;
}

.chirp-content .chirp-user .author {
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}

.chirp-content .chirp-user .message {
	border-bottom: 1px dotted black;
	padding: 10px;
	width: 680px;
	word-break: break-all;
}

.chirp-content .chirp-user .message:last-child {
	border-bottom: 0px;
}
