html, body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

a {
	text-decoration: none;
	color: orange;
}

a:hover {
	text-decoration: underline;
}

.header {
	width: 100%;
	background-color: #ffcc99;
	font-family: "Open Sans", sans-serif;
}

.head-wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.head-wrap .title {
	color: #111; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Open Sans", sans-serif;
	font-size: 45px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
}

.header .username {
	float: left;
	width: 740px;
}

.header .logout {
	float: left;
	width: 100px;
	text-align: right;
}

.header .delete-user {
	float: left;
	width: 100px;
	text-align: right;
}

.clear {
	clear: both;
}

.delete-user a {
	color: red;
	cursor: pointer;
}

h1 {
	padding: 0;
	margin: 0;
}

.chirper {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid black;
}

.chirper .chirp-center {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.chirper .chirp-error {
	float: left;
}

.chirper .chirp-field {
	width: 600px;
}

.chirper .chirp-stats {
	float: right;
}

.friends-list {
	float: right;
	width: 218px;
	border: 1px solid black;
	margin-top: 10px;
	margin-right: 20px;
	padding: 10px;
}

.friends-list h1 {
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted black;
}

.friends-list .add-friend {
	padding: 10px;
	text-align: center;
	border-bottom: 1px dotted black;
}

.friends-list .friends {
	padding-top: 10px;
}

.chirp-content {
	float: right;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.chirp-user {
	border: 1px solid black;
	padding: 10px;
	margin-top: 10px;
}

.chirp-content .chirp-user .author {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.chirp-content .chirp-user .message {
	border-bottom: 1px dotted black;
	padding: 10px;
	width: 640px;
	word-break: break-all;
}

.chirp-content .chirp-user .message:last-child {
	padding-bottom: 0px;
	border-bottom: 0px;
}
