.head-wrap {
    width: 80%;
}

.page {
    width: 90%;
}

.chirper {
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chirper .chirp-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.chirper .chirp-field {
    width: 100%;
}

.friends-list {
    width: 100%;
    padding: 0px;
    padding-bottom: 10px;
}

.friends-list h1, .friends {
    padding-left: 10px;
}

.chirp-content {
    width: 100%;
    margin-left: 0;
}
