<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to Chirper</title>

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/login.css" />
</head>
<body>

	<div class="central-float">
		<h1>chirper.</h1>
		<h2>we're not <em>that</em> original.</h2>

		<form method="POST" action="/login">
			<input type="text" name="username" maxlength="20" placeholder="Username"></input><br />
			<input type="password" name="password" placeholder="Password"></input><br />

			{% if loginfailed %}
			<span class="loginstatus">Login failed</span><br />
			{% endif %}

   			<input type="submit" value="Log In"></input>
		</form>

		<a href="/register">Create Account</a>

	</div>

</body>
</html>
