<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register with Chirper</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/login.css" />
</head>
<body>
    <div class="central-float">
        <h1>Register</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Username"></input><br />
            <input type="password" name="password" placeholder="Password"></input><br />
            <input type="submit" value="Create Account"></input>
        </form>
    </div>
</body>
</html>
